.PageHeader {}

.PageHeader-container {
  .m-page-content;
  background-color: @edu-white;
  z-index: @edu-z-index-sticky-content-layer;

  &.is-sticky {
    .m-box-shadow;
    transition: all 300ms ease;
    border-radius: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.PageHeader-content {
  display: grid;
  place-items: start;
  align-items: center;
  grid-template-columns: auto 1fr;
  background-color: @edu-white;
}

.PageHeader-logo {}

.PageHeader-navigation {
  width: 100%;

  &.PageHeader-navigation--desktop {
    @media @edu-media-phone {
      display: none;
    }
  }

  &.PageHeader-navigation--mobile {
    display: none;

    @media @edu-media-phone {
      display: block;
    }
  }
}

.PageHeader-announcement {
  margin-top: @edu-page-content-padding !important;
}
