{
  "extends": [
    "eslint:recommended",
    "plugin:import/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "env": {
    "es2022": true,
    "browser": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "16.9"
    }
  },
  "plugins": [
    "import",
    "react",
    "react-hooks"
  ],
  "rules": {
    "import/no-unresolved": ["error", { "ignore": ["^@educandu/educandu/.+$"] }]
  }
}
