@site-logo-size-normal: 64px;
@site-logo-size-small: 32px;
@site-logo-font-size: 24px;

.SiteLogo {
  display: block;
  text-align: center;

  &.SiteLogo--readonly {
    color: @edu-primary-color;
  }
}

.SiteLogo-content {
  display: flex;
  align-items: center;

  &.SiteLogo-content--normal {
    flex-direction: column;
  }

  &.SiteLogo-content--small {
    flex-direction: row;
  }
}

.SiteLogo-image {
  &.SiteLogo-image--normal {
    height: @site-logo-size-normal;
    width: @site-logo-size-normal;
  }

  &.SiteLogo-image--small {
    height: @site-logo-size-small;
    width: @site-logo-size-small;
  }
}

.SiteLogo-text {
  font-size: @site-logo-font-size;
  line-height: 1.25 * @site-logo-font-size;

  &.SiteLogo-text--normal {
    margin: 12px 0;
  }

  &.SiteLogo-text--small {
    margin-left: 0.75 * @site-logo-font-size;

    @media @edu-media-phone {
      display: none;
    }
  }
}
