@site-logo-font-size: 32px;

.SiteLogo {
  margin: 12px 0;
  display: block;
  text-align: center;
  color: @edu-primary-color;
  font-size: @site-logo-font-size;
  line-height: 1.25 * @site-logo-font-size;
}
